# I/O files for Chrysaora
chrysaora/results/
chrysaora//logs/

# Training data for the network

# Binaries
src/main
src/perft
tests/tboard
tests/tmovegen

# Logs
src/logs

# VSCode related files.
*tempCodeRunner*
.vscode
