# I/O files for Chrysaora
chrysaora/results/
chrysaora//logs/

# Training data for the network
# And weights files
src/noctiluca-t*
results/

# Binaries
src/main
src/perft
src/train
src/net
tests/test_board
tests/test_movegen
tests/test_net

# Logs
src/logs

# VSCode related files.
*tempCodeRunner*
.vscode
